<h2>Providers:</h2>
<div class="form-group">
	@for (provider of providers(); track provider.name + provider.coverage_part) {
		<div [@providerAnimationState]>
			<insurance-provider
				[provider]="provider"
				(onRemove)="removeProvider($index)"
				(onUpdate)="updateProvider($index, $event)"
			></insurance-provider>
		</div>
	}

	@if ( providers().length === 0 ) {
		<span class="message-no-providers">No providers selected</span>
	}

	<button class="button-add-provider row col m-2 btn btn-outline-primary" (click)="addProvider()">add provider</button>
</div>

<h2>Additional parameters:</h2>

<form [formGroup]="missingTeethDataForm">
	<div class="form-group">
		<label for="missing_tooth_price">Missing tooth recovery price:</label>
		<div class="row">
			<div class="col-lg-2">
				<input 
					class="form-control" 
					id="missing_tooth_price" 
					type="number" 
					step="100"
					formControlName="tooth_price"
				>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="missing_teeth_min">Calculate for missing teeth between:</label>
		<div class="row">
			<div class="col-lg-2">
				<input 
					class="form-control" 
					id="missing_teeth_min" 
					type="number"
					min="0" 
					max="32"
					formControlName="teeth_min"
				>
			</div>
			<div class="col-lg-1">and</div>
			<div class="col-lg-2">
				<input 
					class="form-control" 
					id="missing_teeth_max" 
					type="number"
					min="0" 
					max="32"
					formControlName="teeth_max"
				>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="col">
		<button class="btn btn-primary" routerLink="/diagram">Go to calculation</button>
	</div>
</div>
