<form [formGroup]="insuranceProviderForm" class="py-2 mb-4 shadow rounded">
	<div class="m-3" >
		<label class="row" for="{{this.element_id}}_provider_name">Name:</label>
		<div class="container-fluid px-0 hstack gap-0">
			<div class="col-10 pe-2">
				<input 
					class="form-control" 
					id="{{this.element_id}}_provider_name" 
					name="name"
					formControlName="name"
				>
			</div>
			<button class="col-2 button-remove-provider btn btn-outline-danger" (click)="removeProvider()">remove</button>
		</div>
	</div>
	<div class="m-3">
		<label class="row" for="{{this.element_id}}_provider_coverage_part">Coverage part (%):</label>
		<div class="container-fluid px-0">
			<div >
				<input 
					class="form-control" 
					id="{{this.element_id}}_provider_coverage_part" 
					name="coverage_part"
					formControlName="coverage_part"
				>
			</div>
		</div>
	</div>

	<div class="m-3" formArrayName="prices">
		<label class="row">Prices:</label>
		
		@for (price of provider().prices; track price.period.start + price.period.end + price.price) {
			<div [formGroupName]="$index" class="container-fluid px-0 py-1 hstack gap-2 row-provider-price" [@priceAnimation]>
				<div class="mx-0">
					Age
				</div>
				<div class="mx-0" formGroupName="period">
					<input 
						class="form-control" 
						name="period_start" 
						placeholder="Start age" 
						type="number" 
						min="16" 
						max="70"
						formControlName="start"
					>
				</div>
				<div class="mx-0 px-0">
					- 
				</div>
				<div class="mx-0" formGroupName="period">
					<input 
						class="form-control" 
						name="period_end"
						placeholder="End age" 
						type="number" 
						min="16" 
						max="70"
						formControlName="end"
					>
				</div>
				<div class="mx-0 px-0">
					:
				</div>
				<div class="mx-0">
					<input 
						class="form-control" 
						name="period_price" 
						placeholder="Price" 
						type="number" 
						min="0" 
						max="999" 
						step="0.1"
						formControlName="price"
					>
				</div>
				<div class="mx-0">
					<button class="button-remove-price btn btn-outline-danger" (click)="removePrice($index)">remove</button>
				</div>
			</div>
		}

		@if (provider().prices.length === 0) {
			<div class="row">no prices added</div>
		}
		

			<div class="btn-toolbar mt-2" role="toolbar">
				<button class="button-add-price btn btn-outline-primary float-right" (click)="addPrice()">add price</button>
			</div>

	</div>
</form>