<div class="container-md shadow px-0">
    <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item">
            <a 
                class="nav-link" 
                routerLink="/auth"
                routerLinkActive="active"
            >
                Authenticate
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a 
                class="nav-link" 
                id="providers-page-link"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
            >
                Input data
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a 
                class="nav-link" 
                id="diagram-page-link"
                routerLink="/diagram"
                routerLinkActive="active"
            >
                Results
            </a>
        </li>

        @if (isAuthenticated()) {
            <li role="presentation" class="ml-auto">
                <a 
                    class="btn btn-primary py-1" 
                    id="logout-button"
                    (click)="onLogoutClick()"
                >
                    Logout
                </a>
            </li>
        }
    </ul>

    <div class="container-sm py-2">
        <router-outlet></router-outlet>
    </div>

</div>
