<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li role="presentation" class="nav-item">
                    <a 
                        class="nav-link" 
                        routerLink="/"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"
                    >
                        Input data
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a 
                        class="nav-link" 
                        routerLink="/diagram"
                        routerLinkActive="active"
                    >
                        Results
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
