<h2>Results (positive overpaids are bad):</h2>
<button
    calculateButton
    [calculatingInProgress]="this.calculatingSignal()" 
    [inputDataPresent]="providersSignal().length > 0"
    class="button-calculate btn btn-primary"
    (click)="recalculate()">
</button>

@if(lineChartDataSignal().length > 0 && calculatingSignal() === false) {
    <canvas class="diagram" baseChart width="400" height="400"
        [datasets]="lineChartDataSignal()"
        [labels]="lineChartLabelsSignal()"
        [options]="{ responsive: true }"
        [legend]="true"
        [type]="'line'"
    ></canvas>
}
@else {
    <p>Press the button to see the result</p>
}
