<p>
	Name: <input name="provider_name" [(ngModel)]="provider.name" value="{{provider.name}}">
	<a href="#" (click)="removeProvider()">[x]</a>
	<br>
	Coverage part (%): <input name="provider_coverage_part" [(ngModel)]="provider.coverage_part" value="{{provider.coverage_part}}">
	<br>
	Prices: 
		<span *ngFor="let price of provider.prices">
			<br>
			Age <input name="period_start" [(ngModel)]="price.period.start" placeholder="Age at period start" type="number" min="16" max="70">
			- <input name="period_end" [(ngModel)]="price.period.end" placeholder="Age at period end" type="number" min="16" max="70">
			:
			<input name="period_price" [(ngModel)]="price.price" placeholder="Price" type="text">
		</span>
		<span *ngIf="provider.prices.length === 0">no prices added</span>
		<br>
		<a href="#" (click)="addPrice()">add price</a>
</p>