<div class="row">
	<div class="col inputs m-2">
		<h2>Providers:</h2>
		<div class="form-group">
			<insurance-provider *ngFor="let provider of providers; let i=index;" [provider]="providers[i]" (onRemove)="removeProvider(i)"></insurance-provider>
			<span *ngIf="providers.length === 0">No providers selected</span>
			<button class="row col m-2 btn btn-outline-primary" (click)="addProvider()">add provider</button>
		</div>
		<h2>Additional parameters:</h2>
		<div class="form-group">
			<label for="missing_tooth_price">Missing tooth recovery price:</label>
			<div class="row">
				<div class="col-lg-2">
					<input class="form-control" id="missing_tooth_price" type="number" step="0.1" [(ngModel)]="missing_tooth_price">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="missing_teeth_min">Calculate for missing teeth between:</label>
			<div class="row">
				<div class="col-lg-2">
					<input class="form-control" id="missing_teeth_min" type="number" [(ngModel)]="missing_teeth_min" min="0" max="32">
				</div>
				<div class="col-lg-1">and</div>
				<div class="col-lg-2">
					<input class="form-control" type="number" [(ngModel)]="missing_teeth_max" min="0" max="32">
				</div>
			</div>
		</div>
	</div>
	<div class="col results m-2">
		<h2>Results (positive overpaids are bad):</h2>
		<button [disabled]="this.calculating" class="button-calculate btn btn-primary" (click)="recalculate()">
			<span *ngIf="!this.calculating">
				<span *ngIf="lineChartData.length !== 0">re</span>calculate
			</span>
			<span *ngIf="this.calculating">
				calculating...
			</span>
		</button>

		<canvas class="diagram" *ngIf="lineChartData.length > 0" baseChart width="400" height="400"
			[datasets]="lineChartData"
			[labels]="lineChartLabels"
			[options]="lineChartOptions"
			[legend]="lineChartLegend"
			[type]="'line'"
		></canvas>
	</div>
</div>
