<div class="inputs">
	<h2>Providers:</h2>
	<insurance-provider *ngFor="let provider of providers; let i=index;" [(provider)]="providers[i]" (onRemove)="removeProvider(i)"></insurance-provider>
	<span *ngIf="providers.length === 0">No providers selected</span>
	<a (click)="addProvider()" href="#">add provider</a>

	<h2>Missing tooth price:</h2>
	<input type="number" [(ngModel)]="missing_tooth_price">

	<h2>Calculate for missing teeth between:</h2>
	<input type="number" [(ngModel)]="missing_teeth_min">
	<input type="number" [(ngModel)]="missing_teeth_max">
</div>
<div class="results">
	<h2>Results *:</h2> <a href="#" (click)="calculate()">(re-)calculate</a>
	* positive overpaids are bad

<canvas class="diagram" *ngIf="lineChartData.length > 0" baseChart width="400" height="400"
	[datasets]="lineChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[colors]="lineChartColors"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"
	(chartHover)="chartHovered($event)"
	(chartClick)="chartClicked($event)"></canvas>
</div>