/* You can add global styles to this file, and also import other style files */
.row {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: nowrap;
}

input:focus {
    background-color: #ddffdd !important;
}

input {
    background-color: transparent;
    transition: background-color 1s !important;
}